body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

p {
  color: #7b7979;
  size: 15px;
  text-align: center;
  width: 90%;
  margin: auto;
}

.qr-code {
  background-color: white;
  margin: 150px auto 200px auto;
  width: 300px;
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
  box-shadow: 5px 10px 8px 10px #d3dee9;
}

.qr-img {
  width: 300px;
  border-radius: 10px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
